.fondo_mitad_derecho {
  background: linear-gradient(180deg, #44cccc 0%, rgba(76, 44, 206, 0.93) 100%);
  border-radius: 20px;
}

#form-content {
  width: 75%;
  position: absolute;
  left: 10%;
  top: 25vh;
  text-align: left;
  margin: 5px;
}

.bton {
  background: #c6ab7c;
  border: None;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: large;
}
